{
  "extends": ["plugin:prettier/recommended"],
  "rules": {},
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "es6": true
  }
}
